{% extends "base.html" %}

{% block title %}Boletim{% endblock %}

{% block content %}

<div class="card shadow p-4">

    <h3>📚 Boletim Escolar</h3>

    <table class="table table-striped mt-3">

        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Média</th>
                <th>Faltas</th>
                <th>Situação</th>
            </tr>
        </thead>

        <tbody>

        {% for d in boletim %}

            <tr>
                <td>{{ d['disciplina'] }}</td>
                <td>{{ d['media_disciplina'] }}</td>
                <td>{{ d['numero_faltas'] }}</td>
                <td>{{ d['situacao'] }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}